# Introduction

It's important to keep category dates in sync. Please review the below changes and update as needed. 

# Linter output

```
<%= `ruby categorydates.rb` %>
```

/assign @joshlambert @kencjohnston @david
