## Introduction
This issue is meant to provide a reminder and a place to collaborate on a [review of MVC and New Config issues](https://about.gitlab.com/handbook/product/product-management/process/#mvc-and-new-config-reviews) scheduled in the upcoming milestone (the one you are about to Kickoff) between Product Managers and Product Leaders.

## Opening Tasks

* [ ] Create Retrospective Issue thread - <%= section['pm'] %>

* [ ] Set issue due date - Usually the day that the next Kickoff videos are due (~the 12th of each month) <%= section['pm'] %> 

## (Optional) Planning Issue Review
The [intent](#introduction) of this issue is to provide a reminder to bring a second set of eyes to certain types of issues planned for the upcoming release. As an alternative to the specific task pings below - you could request your manager review your entire Planning Issue.

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - <%= group['pm'] %> - Ping Product Leader Planning Issue
<% end %>

## MVC Review Tasks
Please `@mention` your Product Leader on any relevant MVC issues scheduled in the upcoming milestone which you'd like to have reviewed.

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - <%= group['pm'] %> - Ping Product Leader on Issues
<% end %>

## Pricing Review Tasks
Please `@mention` your Product Leader  on any relevant new (major, i.e. that would be priced individually) features to help ensure that they are in the right tier per our [Buyer Based Open Core](https://about.gitlab.com/handbook/ceo/pricing/#the-likely-type-of-buyer-determines-what-features-go-in-what-tier) model. Consider using the **What is the type of Buyer?** section that appears in the Feature proposal issue template to document the intended Buyer and pricing tier explanation to make the review quick.

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - <%= group['pm'] %> - Ping Product Leader on Issues
<% end %>

## New Config Review
Please `@mention` your manager on all relevant issues which introduce a new configuration and scheduled in the upcoming milestone which you'd like to have reviewed.

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - <%= group['pm'] %> - Ping Product Leader on Issues
<% end %>

## Closing Tasks
* [ ] Review Retrospective thread and [update template](https://gitlab.com/gitlab-com/Product/-/edit/main/templates/MVC-CONFIG.md.erb) before closing - <%= section['pm'] %>

/assign <%= section['pm'] %>

<% section['groups'].each do |group| %>
<% if group['group_pm'] %>
/assign <%= group['group_pm'] %>

<% end %>
/assign <%= group['pm'] %>

<% end %>

/label ~"MVC & Config Review" ~Doing
